* {
    text-align: center;
}

h1 {
    font-family: sans-serif;
    font-size: 35px;
}

.p1, .p2 {
    font-family: sans-serif;
    font-size: 25px;
}
button {
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 15px;
    margin: 3px;
 
}